
<% @tours.each do |tour| %>
	<div class="transparent-box col-xs-10 col-xs-offset-1">
		<h1> <%= tour.name %></h1>
		<h4> <%= tour.description %> </h4> <br />
		<h4> <%= tour.state %>, <%= tour.country %></h4><br />
		<!-- <p> <%= tour.difficulty %> </p> <br />
		<p> <%= tour.surface %> </p> <br />
		<p> <%= tour.distance %> </p> <br /> -->
	</div>


<% end %>
