<!-- This is a placeholder page to build the input form. -->

<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1> Enter details about a tour</h1>
  <%= simple_form_for @tour do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :start_location %>
    <%= f.input :finish_location %>
    <%= f.input :state %>
    <%= f.input :country %>
    <%= f.input :difficulty %>
    <%= f.input :surface %>
    <%= f.input :distance %>
    <br />
    <%= f.submit 'Create', :class => 'btn btn-primary' %>
    <% end %>
</div>
