

	<div class="transparent-box col-xs-10 col-xs-offset-1">
    <h1> <%= @tour.name %>  &nbsp &nbsp &nbsp <%= @tour.state %>, <%= @tour.country %>  </h1>
		<br />


<% if @tour.latitude_start.present? && @tour.longitude_start.present? %>

<script>

function initMap() {
  var myLatLng = {lat: <%= @tour.latitude_start %>, lng: <%= @tour.longitude_start %>};
	var end_LatLng = {lat: <%= @tour.latitude_finish %>, lng: <%= @tour.longitude_finish %>};

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 12,
    center: myLatLng
  });

  var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    title: "VROOM!"
  });

	var marker = new google.maps.Marker({
    position: end_LatLng,
    map: map,
    title: "You're there!"
  });

}

    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap"></script>

		<div id="map"></div>
<%end%>

    <h4> <%= @tour.description %> <br /> </h4>
      <br />

    <h4> Start: <%= @tour.start_location %> &nbsp &nbsp &nbsp Finish: <%= @tour.finish_location%> </h4><br />
    <h4> Distance (km): <%= @tour.distance %> &nbsp &nbsp &nbsp &nbsp Surface: &nbsp <%= @tour.surface %>  &nbsp &nbsp &nbsp &nbsp Difficulty: &nbsp <%= @tour.difficulty %>    </h4>

    <div class= "pull-right">
      <% if current_user && current_user == @tour.user %>
        <%= link_to 'Edit', edit_tour_path(@tour), :class => 'btn btn-primary' %>
        <%= link_to 'Delete', tour_path(@tour), :method => :delete, :data => {:confirm => 'Are you sure you want to delete this tour?'}, :class => 'btn btn-danger' %>
      <% end %>
    </div>
  </div>

  <div class="clear"></div>
    <%= simple_form_for @comment, :url => tour_comments_path(@tour) do |f| %>
      <%= f.input :message %>
      <%= f.input :rating %> <br />
      <%= f.submit "Add a Comment", :class => 'pull-right btn btn-primary' %>
    <% end %>
