

	<div class="transparent-box col-xs-10 col-xs-offset-1">
    <h1> <%= @tour.name %>  &nbsp &nbsp &nbsp <%= @tour.state %>, <%= @tour.country %>  </h1>

    <h4> <%= @tour.description %> <br /> </h4>
      <br />

    <h4> Start: <%= @tour.start_location %> &nbsp &nbsp &nbsp Finish: <%= @tour.finish_location%> </h4><br />
    <h4> Distance (km): <%= @tour.distance %> &nbsp &nbsp &nbsp &nbsp Surface: &nbsp <%= @tour.surface %>  &nbsp &nbsp &nbsp &nbsp Difficulty: &nbsp <%= @tour.difficulty %>    </h4>


  </div>
